<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.floatingbubble">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

</manifest>